<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    </head>
    <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/blog">Blogs</a>
            <a href="/newpost">Add a Blog Entry</a>
            <div class="topnav-right">
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        
    </header>
        {% block content %}
        {% endblock %}
    <body>
    </body>
    <footer>
        <p>© 2022</p>
    </footer>
</html>